@model IEnumerable<Filminurk.Models.Actors.ActorsIndexViewModel>

@{
	int rowNumber = 1;
}

<div>
	<a asp-action="CreateUpdate" asp-contorller="Actors" type="submit" class="btn btn-primary">Lisa Näitleja</a>
</div>

<div>
	<form method="get">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Eesnimi</th>
					<th scope="col">Perekonnanimi</th>
					<th scope="col">Kõige populaarsem film</th>
					<th scope="col">Vanus</th>
					<th scope="col">Rahvus</th>
					<th scope="col">Tööriistad</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var actors in Model)
				{
					<tr>
						<td>@rowNumber</td>
						<td>@actors.FirstName</td>
						<td>@actors.LastName</td>
						<td>@actors.MostPopularMovie</td>
						<td>@actors.Age</td>
						<td>@actors.Nationality</td>
						<td>
							<a asp-action="Delete" asp-controller="Actors" asp-route-id="@actors.ActorID" class="btn btn-danger">Kustuta</a>
							<a asp-action="Update" asp-controller="Actors" asp-route-id="@actors.ActorID" class="btn btn-primary">Muuda</a>
							<a asp-action="Details" asp-controller="Actors" asp-route-id="@actors.ActorID" class="btn btn-primary">Info</a>
						</td>
					</tr>
					rowNumber++;
				}
			</tbody>
		</table>
	</form>

</div>